[submodule "qemu"]
	path = qemu
	url = ../qemu.git
[submodule "instigator"]
	path = instigator
	url = ../instigator.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
	shallow = true
